# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env

# IDE / editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# CSV or
